.nav {
    padding: 32px;
    position: fixed;
    height: 100%;
    top: 0;
    z-index: 20;
    background-color: var(--global-background-color);

    .nav-items {
        background-color: var(--global-primary-color);
        border-radius: 20px;
        width: 96px;
        height: calc(100vh - 64px);
        max-height: 960px;

        padding-block: 32px;
        font-size: 20px;

        display: flex;
        flex-direction: column;
        gap: 75px;
        align-items: center;

        &__logo {
            max-width: 32px;
        }

        &__account {
            border: 1px solid var(--global-text-color);
            border-radius: 50%;
            margin-top: auto;
            max-width: 40px;
        }
    }

    .nav-tabs {
        display: flex;
        flex-direction: column;
        gap: 40px;

        &__icon {
            color: var(--global-accent-color);
            transition: .2s;

            &.font-icon-home {
                color: var(--global-text-color);
            }

            &:hover {
                color: var(--global-secondary-color);
            }
        }

    }

    @media screen and (max-width: $_768) {
        width: 100%;
        height: unset;
        padding: 24px;

        .nav-items {
            flex-direction: row;
            height: 72px;
            width: 100%;
            padding-block: unset;
            padding-inline: 24px;
            align-items: center;
            justify-content: space-between;
            gap: 24px;

            &__account {
                margin-top: unset;
            }
        }

        .nav-tabs {
            flex-direction: row;
            gap: 32px;

        }
    }

    @media screen and (max-width: $_568) {
        padding: unset;

        .nav-items {
            border-radius: 0;
            padding-inline: 16px;
            height: 56px;

            &__logo {
                width: 25px;
            }

            &__account {
                width: 24px;
            }
        }

        .nav-tabs {
            &__icon {
                font-size: 16px;
            }
        }
    }
}