@import './global-components/sass/variables';
@import './global-components/nav/nav.scss';
@import './global-components/search-bar/search-bar.scss';
@import '@/trending_section/trending_section.scss';
@import '@/recommended_section/recommended_section.scss';



*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-stack);
    background-color: var(--global-background-color);
}

a {
    text-decoration: none;
}

[class*='font-icon-'] {
    display: inline-block;
    font-family: var(--font-icon);
    user-select: none;
    font-weight: 400;
}