$_768: 768px;
$_568: 568px;
$_375: 375px;


:root{
    --global-nav-padding: 32px;
    --global-nav-width: 96px;
    --global-section-padding-right: 36px;
    --global-section-padding-left: calc(var(--global-nav-padding) + var(--global-nav-width) + var(--global-section-padding-right));
    --global-section-padding-block: 0px;

    @media screen and (max-width: $_768) {
        --global-section-padding-left: 24px;
        --global-section-padding-right: 24px;
    }

    @media screen and (max-width: $_568) {
        --global-section-padding-right: 16px;
        --global-section-padding-left: 16px;
        --global-section-padding-block: 12px;
    }

}




